<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<p class="input-wrap-w3w">
<svg viewBox="0 0 32 32" class="what3words-logo">
    <path data-bind="attr: {fill: currentColor}" d="M10.7,4h2L4,28H2L10.7,4z M19.7,4h2L13,28h-2L19.7,4z M28.7,4h2L22,28h-2L28.7,4z"></path>
</svg>
<input class="input-text hidden what3words-autosuggest" type="text" data-validate='{"validate-w3w":true}' data-bind="
    value: value,
    valueUpdate: 'keyup',
    hasFocus: focused,
    attr: {
        name: inputName,
        placeholder: placeholder,
        apiKey: apiKey,
        'aria-describedby': getDescriptionId(),
        'aria-required': required,
        'aria-invalid': error() ? true : 'false',
        id: uid,
        disabled: disabled
    },
    autoComplete: { selected: selectedOption, options: getElements }" />
</p>
