<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<what3words-autosuggest id="autosuggest-w3w" validation="true"  variant="inherit">
    <input class="input-text what3words-autosuggest" type="text" data-bind="
        value: value,
        valueUpdate: 'keyup',
        hasFocus: focused,
        attr: {
            name: inputName,
            placeholder: placeholder,
            'aria-describedby': getDescriptionId(),
            id: uid,
            disabled: disabled
        },
        autoComplete: {}"
        optional
    />
</what3words-autosuggest>
