<div class="what3words-checkout-field">
    <div class="control w3w-control-checkout">
        <input class="input-text validate-what3words _required" id="what3words-shipping" type="text" name="what3words-shipping"/>
        <div class="control"></div>
        <div class="field-tooltip w3w-tooltip">
            <span class="what3words-tooltip tooltip-toggle field-tooltip-action action-help" data-toggle="dropdown"></span>
            <span class="what3words-tooltip-content tooltip-content field-tooltip-content">
            By entering your 3 word address you make it much
            easier for our delivery partners to find you first time.
            To discover your 3 word address, visit <a href="https://map.what3words.com" target="_blank">what3words.com</a>
        </span>
        </div>
    </div>
</div>
