<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <csp>
            <mode>
                <storefront_checkout_index_index>
                    <report_only>1</report_only>
                </storefront_checkout_index_index>
            </mode>
            <policies>
                <storefront_checkout_index_index>
                    <scripts>
                        <inline>1</inline>
                    </scripts>
                </storefront_checkout_index_index>
            </policies>
        </csp>
        <what3words>
            <general>
                <circle_radius>1</circle_radius>
            </general>
            <frontend>
                <placeholder>e.g. lock.spout.radar</placeholder>
                <icon_color>#e11f26</icon_color>
                <show_tooltip>1</show_tooltip>
            </frontend>
        </what3words>
    </default>
</config>
