<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="What3Words\What3Words\Api\AddressRepositoryInterface" type="What3Words\What3Words\Model\AddressRepository"/>
    <preference for="What3Words\What3Words\Api\OrderRepositoryInterface" type="What3Words\What3Words\Model\OrderRepository"/>
    <preference for="What3Words\What3Words\Api\Data\OrderInterface" type="What3Words\What3Words\Model\Order"/>
    <preference for="What3Words\What3Words\Api\Data\AddressInterface" type="What3Words\What3Words\Model\Address"/>

    <type name="Magento\Customer\Block\Address\Renderer\DefaultRenderer">
        <plugin name="renderThreeWordsInShipment" type="What3Words\What3Words\Plugin\AddressRendererPlugin" sortOrder="0" disabled="false"/>
    </type>
    <type name="Magento\Customer\Model\ResourceModel\AddressRepository">
        <plugin name="saveAddressAttribute" type="What3Words\What3Words\Plugin\SaveToVarchar" sortOrder="1" disabled="false"/>
    </type>


</config>
