& when (@media-common = true) {
    .field.w3w {

        .tooltip {
            &.content {
                right: -10px;
                top: 40px;
                left: auto;

                &:before {
                    left: auto;
                    right: 15px;
                }
                &:after {
                    left: auto;
                    right: 16px
                }
            }
        }
    }
}
